@tailwind base;
@tailwind components;
@tailwind utilities;
.url-preview {
    outline: #dee0e3 1px solid;
    padding: 1rem 1.25rem;
    background-color: #f5f6f7;
}

.url-preview>div:nth-child(1) {
    font-weight: 500;
    font-size: 1rem;
}

.url-preview>div:nth-child(2) {
    color: #6b7078;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.url-preview>a {
    font-size: 0.8rem;
}

.url-preview:hover {
    outline: #dee0e3 2px solid;
    cursor: pointer;
}

.prose p>img:hover {
    outline: #dee0e3 2px solid;
    cursor: zoom-out;
}