{% macro author_link(author) -%}
    {% if author is iterable -%}
        {% set author_names = author -%}
    {% else -%}
        {% set author_names = [author] -%}
    {% endif -%}
    {% for name in author_names -%}
        {% set author = get_author(id = name) -%}
        {% if author -%}
            <a class="flex items-center px-2 py-1 !text-gray-500 rounded hover:bg-gray-200 hover:!no-underline"
               href="/@{{ author.id | lower }}">
                <img class="!m-0 !p-1 w-7 h-7 rounded-full object-cover"
                     src="{{ author.avatar }}"
                     alt="avatar"
                     loading="lazy">
                <span>
                    {% if author.name -%}
                        {{ author.name }}
                    {% else -%}
                        {{ author.id | capitalize }}
                    {% endif -%}
                </span>
            </a>
        {% else -%}
            <span>{{ article.author }}</span>
        {% endif -%}
    {% endfor -%}
{% endmacro input -%}
