<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico">
    {% endblock favicon %}
    <link rel="stylesheet" href="/zine.css">
    <style>
      :root {
          --primary-color: {{ theme.primary_color }};
          --primary-text-color: {{ theme.primary_text_color }};
          --primary-link-color: {{ theme.primary_link_color }};
          --secondary-color: {{ theme.secondary_color }};
      }

      .url-preview {
          outline: #dee0e3 1px solid;
          padding: 1rem 1.25rem 0;
          background-color: #f5f6f7;
          font-weight: 500;
          border-box: 
      }

      .url-preview>p:nth-child(1) {
          font-weight: normal;
          font-size: 0.9rem;
          color: #6b7078;
          margin: 1rem 0;
      }

      .url-preview>p:nth-child(2), .url-preview>p>a:nth-child(1) {
          font-weight: normal;
          margin: 1rem 0;
      }

      .url-preview:hover {
          outline: #dee0e3 2px solid;
          cursor: pointer;
      }

      .prose p>img:hover {
          outline: #dee0e3 2px solid;
          cursor: zoom-out;
      }
    </style>
</head>

<body class="h-full bg-secondary">
    {% if theme.background_image %}
    <div class="bg-primary text-primary-text font-bold text-center z-0" style="background-image: url('{{ theme.background_image }}')">
    {% else %}
    <div class="bg-primary text-primary-text font-bold text-center z-0">
    {% endif %}
        <header class="p-8 md:p-10">
            <div class="text-4xl lg:text-5xl"><a href="/">{{ site.name }}</a></div>

            <ul>
                {% for menu in site.menus %}
                    <li class="inline-block mt-6 mx-5 text-base hover:underline"><a href="{{ menu.url }}">{{ menu.name }}</a></li>
                {% endfor %}
            </ul>
        </header>
        {% block hero %}
        {% endblock hero %}
        <div class="w-full h-32 md:h-36 lg:h-44 xl:h-48 2xl:h-56"></div>
    </div>

    <main class="pb-10 -translate-y-32 
                 md:-translate-y-32 lg:-translate-y-36 xl:-translate-y-44 2xl:-translate-y-56
                 mx-auto sm:max-w-scree-md md:max-w-screen-lg">
            {% block content %}
            {% endblock content %}
    </main>

    <footer class="relative">
    {% block footer %}
        {% if theme.footer_template %}
            {{ theme.footer_template }}
        {% else %}
            {% include "footer.jinja" %}
        {% endif %}
    {% endblock footer %}
    </footer>
</body>
<script src="/js/medium-zoom.min.js"></script>
<script src="/js/zine.js"></script>
</html>

