<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.name }}</title>
    <subtitle>{{ site.description }}</subtitle>
    <updated>{{ now() }}</updated>
    <id>{{ site.url }}</id>
    <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml" />
    <link href="{{ site.url }}" rel="alternate" type="text/html" />
    <generator uri="https://github.com/zineland/zine" version="{{ generator_version }}">zine</generator>
    <author>
        <name>{{ site.name }}</name>
        <uri>{{ site.url }}</uri>
    </author>

    {% for entry in entries -%}
    <entry>
        <title>{{ entry.title }}</title>
        <link rel="alternate" href="{{ entry.url }}" type="text/html" title="{{ entry.title }}" />
        <published>{{ entry.date }}</published>
        <updated>{{ entry.date }}</updated>
        <id>{{ entry.url }}</id>
        <content type="html" xml:base="{{ entry.url }}">
            <![CDATA[{{ markdown_to_html(markdown = entry.content) }}]]>
        </content>

        <author>
            {% if entry.author is iterable -%}
            <name>{{ entry.author | join(sep=", ")}}</name>
            {% else -%}
            <name>{{ entry.author }}</name>
            {% endif -%}
        </author>
    </entry>
    {% endfor -%}
</feed>