<footer class="bg-black text-white text-center p-10">
  <div><a class="hover:underline" href="https://github.com/Folyd/zine">Zine</a> 
  - a simple and opinionated tool to build your own magazine.</div>
</footer>