{% extends "base.jinja" %}

{% block content %}
    {% for season in seasons | reverse %}
        <div class="p-4 md:p-8 mx-4 my-6 bg-white flex flex-col
                    shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5">
            <div class="flex flex-col sm:flex-row">
                <img class="sm:w-96 h-60 object-cover" src="{{ season.cover }}" alt="{{ season.title }}">
                <div class="mt-4 sm:mt-0 sm:pl-6">
                    <div class="text-3xl font-bold my-4 hover:underline"><a href="{{ season.slug }}">{{ season.title }}</a></div>
                    <p>{{ season.summary }}</p>
                    <div class="text-gray-500 mt-4">已更新 {{ season.articles | length }} 期 / 共 10 期</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}