{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}

{% block content %}
    {% for season in seasons | reverse %}
        <div class="p-4 md:p-8 mx-4 my-6 bg-white
                    shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5">
            <div class="text-2xl text-center m-4">
                <a class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-primary relative inline-block
                         transition hover:scale-110 duration-500"
                   href="/{{ season.slug }}">
                    <div class="first-letter:text-4xl first-letter:font-bold relative text-primary-text px-10">{{ season.title }}</div>
                </a>
            </div>
            <div class="flex flex-wrap flex-col sm:flex-row sm:justify-between items-center">
                {% for article in featured(articles = season.articles) %}
                    {{ macros::article_card(season = season, article = article) }}
                {% endfor %}
                <div class="mt-8 flex flex-col justify-between w-full mx-auto sm:max-w-md">
                    <a href="{{ season.slug }}" class="p-3 px-12 mx-auto my-8 bg-primary text-primary-text text-sm font-bold rounded transition hover:scale-110 duration-500">
                        查看全部
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}