{% extends "base.jinja" %}


{% block content %}
<div class="p-4 md:p-8 mx-4 my-6 bg-white 
                    shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5">
    <article class="prose">
        {{ content | safe }}
    </article>
</div>
{% endblock content %}
