{% extends "base.jinja" %}

{% block content %}
<div class="p-4 md:p-8 mx-4 my-6 bg-white min-h-[500px]
            shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5">
    <article class="prose mx-auto py-8 prose-h1:text-center">
        {{ markdown_to_html(markdown = markdown) | safe }}
    </article>
</div>
{% endblock content %}
