{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}

{% block content %}
<div class="p-4 md:p-8 mx-4 my-6 bg-white 
            shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5">
    <div class="text-2xl text-center m-4">
        <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-primary relative inline-block">
            <div class="first-letter:text-4xl first-letter:font-bold relative text-main px-10">{{ season.title }}</div>
        </span>
    </div>
    <div class="prose mx-auto">
        <p>{{ season.summary }}</p>
    </div>
    
    <div class="flex flex-wrap flex-col sm:flex-row sm:justify-between items-center">
    {% for article in season.articles %}
        {{ macros::article_card(season = season, article = article, number = loop.index) }}
    {% endfor %}
</div>
{% endblock content %}